<div *ngIf="courses.length > 0;else course">

List of courses{{courses.length}}

</div>

<ng-template #course>

  No courses yet

</ng-template>

<br>

<div [hidden]="courses.length ==0">
  List of courses

</div>

<div [hidden]="courses.length > 1">

  No courses yet HIDDEN

</div>
<br>





<ul class="nav nav-pills">

  <li [class.active]="viewMode=='map'"> <a (click)="viewMode ='map'"> Maps view</a></li>
  <li [class.active]="viewMode=='list'"> <a (click)="viewMode ='list'"> List View</a></li>

</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'"> MAP</div>
  <div *ngSwitchCase="'list'">LIST</div>
  <div *ngSwitchDefault="">par defaut</div>
</div>

